@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital@1&display=swap');
*{
margin:0;
padding:0;
box-sizing: border-box;
}
:root{
    --shadow-light:#ede2e2;
    --shadow-dark:#817474;
    --link-background:#3b82f6;
    --button:chocolate;
    --button-hover:rgb(150, 76, 24);
    --text:whitesmoke;
}
.container{
    height:100vh;
    width: 100vw;
    padding:3rem;
    font-family: 'Merriweather', serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.content{
    text-align: center;
    width: 40%;
    margin: 3rem auto;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 15px 4px var(--shadow-light), -5px -5px 15px 4px var(--shadow-dark);
    border-radius: 1rem;
    font-family: "Merriweather", serif;
}
input,button{
    display: block;
    width: 50%;
    height: 2rem;
    border-radius: 0.5rem;
    margin: 1rem;
    border: 1px solid var(--shadow-light);
    padding: 0.5rem;
}
.dob{
    width:100%;
}
select{
    width:28%;
    height: 2.5rem;
    border-radius: 0.5rem;
    margin: 0.5rem;
    border: 1px solid  var(--shadow-light);
    padding: 0.5rem;
    font-family: 'Merriweather', serif;
}
#answer{
    margin: 1rem;
    box-shadow: 5px 5px 15px 4px  var(--shadow-light), -5px -5px 15px 4px var(--shadow-dark);
    width: 60%;
    height: 3rem;
    border-radius: 0.5rem;
    padding: 1rem;
    font-family: "Merriweather", serif;
}
h1 {
    margin-bottom: 1rem;
}
button{
    background-color: var(--button);
    color:var(--text);
    cursor:pointer;
}
button:hover{
    background-color: var(--button-hover);
}
#react{
    display: inline-block;
    background-color:var(--link-background) ;
    color:var(--text);
    text-decoration: none;
    padding:0.5rem;
    border-radius: 0.5rem;
}
footer{
    text-align: center;
}